.custom-card {
  flex: 0 0 calc((100% - (20px * 2)) / 2);
  border-radius: 15px;
}

.card-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
}
.img-project {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 15px;
}

.card-description-text h1,
p {
  color: var(--color-secondary) !important;
  margin: 0px;
}

.card-description-actions {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.card-description h1 {
  font-size: clamp(1.3rem, 0.5vw, 2rem);
  font-weight: 500;
}

.card-description p {
  font-size: clamp(1rem, 0.5vw, 2rem);
  font-weight: 300;
}

.stack-project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  margin-top: 10px;
}

.img-project-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* O la proporción que prefieras */
  border-radius: 15px;
  overflow: hidden;
}

@media (width < 576px) {
  .custom-card {
    flex: 0 0 calc(100%);
  }
  .card-description {
    flex-direction: column;
    row-gap: 20px;
  }.img-project{
    height: 180px;
  }
}

@media (width <= 768px) {
}

@media (width > 992px) {
}

@media (width >= 1200px) {
}

@media (768px <= width <= 992px) {
}
