
/* Aquire Font Family */
@font-face {
  font-family: 'Aquire';
  src: url('/font/AquireLight-YzE0o.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aquire';
  src: url('/font/Aquire-BW0ox.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aquire';
  src: url('/font/AquireBold-8Ma60.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --color-primary: #ffffff;
  --color-secondary: #0F3EAA;
  --background-primary: #ffffff;
  --background-secondary: #0F3EAA;
  --font-aquire: 'Aquire', sans-serif;
  --font-aquire-light: 'Aquire', sans-serif;
  --font-aquire-regular: 'Aquire', sans-serif;
  --font-aquire-bold: 'Aquire', sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-primary);
  background: var(--background-primary);
  font-family: var(--font-outfit) !important;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a ,h1{
  color: inherit;
  text-decoration: none;
}

/* Aquire Font Classes */
.font-aquire {
  font-family: var(--font-aquire);
}

.font-aquire-light {
  font-family: var(--font-aquire-light);
  font-weight: 300;
}

.font-aquire-regular {
  font-family: var(--font-aquire-regular);
  font-weight: 400;
}

.font-aquire-medium {
  font-family: var(--font-aquire-regular);
  font-weight: 500;
}

.font-aquire-bold {
  font-family: var(--font-aquire-bold);
  font-weight: 700;
}

/* Outfit Font Classes */
.font-outfit {
  font-family: var(--font-outfit);
}

.font-outfit-light {
  font-family: var(--font-outfit);
  font-weight: 300;
}

.font-outfit-regular {
  font-family: var(--font-outfit);
  font-weight: 400;
}

.font-outfit-medium {
  font-family: var(--font-outfit);
  font-weight: 500;
}

.font-outfit-semibold {
  font-family: var(--font-outfit);
  font-weight: 600;
}

.font-outfit-bold {
  font-family: var(--font-outfit);
  font-weight: 700;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-secondary);
}

@media (width < 576px) {
}

@media (width <= 768px) {}

@media (width > 992px) {}

@media (width >= 1200px) {}

@media (768px <= width <= 992px) {}
